In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib

In [2]:
df = pd.read_csv("C:\\Users\\Simran Solanki\\OneDrive\\House_Prices.csv")
df.head()

,In which area do you stay in western line in Mumbai?,What is the carpet area of your current house in square feet?,What is the current price of your house in INR?,How many rooms do you have?,What facilities are available in your current society?,What all facilities are currently available in your nearby area?,Car Parking,24hr Water Supply,Maintenance Staff,Lift,Gas Pipeline,Gym,24hr Security
0,Bhayandar,500,5500000,1 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
1,Goregaon,450,8050000,2 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
2,Bhayandar,330,3000000,1 RK,24hr Water Supply,"School,College,Hospitals,Medical,Railway Stati...",24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply
3,Nallasopara,400,2500000,1 RK,Car Parking,"School,Hospitals,Medical,Railway Station,Market",Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking
4,Bandra,200,8000000,1 RK,"24hr Water Supply,Maintenance Staff","School,College,Hospitals,Medical,Railway Stati...","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff"

In [3]:
df = df.rename({'In which area do you stay in western line in Mumbai?':'Location',
           'What is the carpet area of your current house in square feet?':'Carpet Area',
          'What is the current price of your house in INR?':'Price',
          'How many rooms do you have?':'No of Bedrooms',
          'What facilities are available in your current society?':'Facilities',
          'What all facilities are currently available in your nearby area?':'Near By Facilities'},axis=1)
df.head()

,Location,Carpet Area,Price,No of Bedrooms,Facilities,Near By Facilities,Car Parking,24hr Water Supply,Maintenance Staff,Lift,Gas Pipeline,Gym,24hr Security
0,Bhayandar,500,5500000,1 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
1,Goregaon,450,8050000,2 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
2,Bhayandar,330,3000000,1 RK,24hr Water Supply,"School,College,Hospitals,Medical,Railway Stati...",24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply
3,Nallasopara,400,2500000,1 RK,Car Parking,"School,Hospitals,Medical,Railway Station,Market",Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking
4,Bandra,200,8000000,1 RK,"24hr Water Supply,Maintenance Staff","School,College,Hospitals,Medical,Railway Stati...","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff"

In [4]:
#facilities=df['Car Parking','24hr Water Supply','Maintenance Staff','Gas Pipeline','Lift','Club house','24Hr Security','Gym']
facilities = df.iloc[:, 6:]
facilities.head()

,Car Parking,24hr Water Supply,Maintenance Staff,Lift,Gas Pipeline,Gym,24hr Security
0,"Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
1,"Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
2,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply
3,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking
4,"24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff"

In [5]:
data = df
i=0

def impute_carparking(cols):
    CarParking = cols[0]
    if("Car Parking" in CarParking):
        return 1
    else:
        return 0

def impute_watersupply(cols):
    watersupply = cols[0]
    if("24hr Water Supply" in watersupply):
        return 1
    else:
        return 0
    
def impute_maintenance_staff(cols):
    maintenance_staff = cols[0]
#   24hrWaterSupply = cols[1]
    if("Maintenance Staff" in  maintenance_staff ):
        return 1
    else:
        return 0
    
def impute_Lift(cols):
    lift = cols[0]
#   24hrWaterSupply = cols[1]
    if("Lift" in lift):
        return 1
    else:
        return 0
    
def impute_gaspipeline(cols):
    gas_pipeline = cols[0]
#   24hrWaterSupply = cols[1]
    if("Gas Pipeline" in gas_pipeline ):
        return 1
    else:
        return 0

def impute_gym(cols):
    gym = cols[0]
#   24hrWaterSupply = cols[1]
    if("Gym" in gym):
        return 1
    else:
        return 0

def impute_24hr_security(cols):
    security = cols[0]
#   24hrWaterSupply = cols[1]
    if("24hr Security" in security):
        return 1
    else:
        return 0

In [6]:
data['Car Parking'] = data[['Car Parking']].apply(impute_carparking,axis=1)
data['24hr Water Supply'] = data[['24hr Water Supply']].apply(impute_watersupply,axis=1)
data['Maintenance Staff'] = data[['Maintenance Staff']].apply(impute_watersupply,axis=1)
data['Lift'] = data[['Lift']].apply(impute_watersupply,axis=1)
data['Gas Pipeline'] = data[['Gas Pipeline']].apply(impute_watersupply,axis=1)
data['Gym'] = data[['Gym']].apply(impute_watersupply,axis=1)
data['24hr Security'] = data[['24hr Security']].apply(impute_watersupply,axis=1)

In [7]:
data.head()

,Location,Carpet Area,Price,No of Bedrooms,Facilities,Near By Facilities,Car Parking,24hr Water Supply,Maintenance Staff,Lift,Gas Pipeline,Gym,24hr Security
0,Bhayandar,500,5500000,1 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...",1,1,1,1,1,1,1
1,Goregaon,450,8050000,2 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...",1,1,1,1,1,1,1
2,Bhayandar,330,3000000,1 RK,24hr Water Supply,"School,College,Hospitals,Medical,Railway Stati...",0,1,1,1,1,1,1
3,Nallasopara,400,2500000,1 RK,Car Parking,"School,Hospitals,Medical,Railway Station,Market",1,0,0,0,0,0,0
4,Bandra,200,8000000,1 RK,"24hr Water Supply,Maintenance Staff","School,College,Hospitals,Medical,Railway Stati...",0,1,1,1,1,1,1

,Location,Carpet Area,Price,No of Bedrooms,Facilities,Near By Facilities,Car Parking,24hr Water Supply,Maintenance Staff,Lift,Gas Pipeline,Gym,24hr Security
0,Bhayandar,500,5500000,1 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...",1,1,"Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
1,Goregaon,450,8050000,2 BHK,"Car Parking,24hr Water Supply,Maintenance Staf...","School,College,Hospitals,Medical,Railway Stati...",1,1,"Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf...","Car Parking,24hr Water Supply,Maintenance Staf..."
2,Bhayandar,330,3000000,1 RK,24hr Water Supply,"School,College,Hospitals,Medical,Railway Stati...",0,1,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply,24hr Water Supply
3,Nallasopara,400,2500000,1 RK,Car Parking,"School,Hospitals,Medical,Railway Station,Market",1,0,Car Parking,Car Parking,Car Parking,Car Parking,Car Parking
4,Bandra,200,8000000,1 RK,"24hr Water Supply,Maintenance Staff","School,College,Hospitals,Medical,Railway Stati...",0,1,"24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff","24hr Water Supply,Maintenance Staff"